@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Zilla+Slab&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html,body,ul{background-color:white}
ul{background-color:white;list-style:none}
ul li a{color:black}#current{color:#f26f61}
#title{font-family:"Josefin Slab";font-size:60px;color:black;text-align:center;font-weight:semi-bold}
#desc{display:table;margin:0 auto;margin-top:-30px;font-family:"Source Serif Pro";color:black;text-align:center;font-size:20px;width:65%;margin-bottom:100px}
.rest{background-color:#fff}#opening{width:90%;display:table;margin:0 auto}
#colours{width:50%}#header{font-family:"Josefin Slab";font-size:35px;font-weight:semi-bold}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu li a:hover {
  background-color: #111;
}



.grid2{display:grid;grid-template-columns:60% 40%;padding:65px;padding-top:-50px;margin-top:-50px}
.grid2 #split-item{border-radius:5px;background-color:white;border:1px solid #fff;margin-right:10px;margin-left:10px;padding:20px;font-size:30px}
.grid2 #split-item #paragraph{font-family:"Open Sans";font-size:17px;color:#5c5c5c}
.grid2 #split-item #paragraph .mockup{width:80%;display:table;margin:0 auto}
.grid2 #split-item #paragraph #head{font-size:30px;font-family:"Josefin Slab";font-weight:bold;color:black}
.grid2 #facts{border-radius:2px;background-color:white;margin-right:10px;margin-left:80px;padding:13px;font-size:30px;height:230px;margin-bottom:50px;margin-top:25px}

.grid2 #facts #fax,.grid2 #facts #bullet{color:black;font-weight:semi-bold;text-transform:capitalize;margin-bottom:20px;display:block;font-size:25px;font-family:"Source Serif Pro"}
.grid2 #facts a{text-decoration:none}
.grid2 #facts #bullet{font-family:"Zilla Slab";text-transform:none;text-decoration:none;font-size:15px;margin-top:-15px;font-weight:normal;color:#5c5c5c}
.grid2 #facts .profile{width:100%;display:table;margin:0 auto;margin-top:20px}

.grid{display:grid;grid-template-columns:auto;padding:65px;padding-top:-20px;margin-top:-110px}
.grid #split-item{border-radius:5px;background-color:white;border:1px solid #fff;margin-right:10px;margin-left:10px;padding:20px;font-size:30px}

.grid #split-item #paragraph{font-family:"Zilla Slab";font-size:17px;color:#5c5c5c}

.grid #split-item #paragraph .mockup{width:80%;display:table;margin:0 auto}

.grid #split-item #paragraph #head,.grid #split-item #paragraph #subHead
{font-size:25px;font-family:"Josefin Slab", serif;font-weight:500;color:black}

.grid #split-item #paragraph #subHead{font-size:20px;font-weight:500}

.media li.socials {
  list-style: none;
  margin: 5px 15px;
  display: inline-block;
  font-size: 20px;
  padding: 10px 10px;
  color: #4b6287;
}

footer{background-color:black}.credits{margin-top:130px}.icon--twitter::before{content:""}

.social__icon--twitter{background-color:rgba(51,51,51,0.2)}.social__icon--twitter:hover{background-color:rgba(20,20,20,0.32)}.icon--instagram::before{content:""}.social__icon--instagram{background-color:rgba(51,51,51,0.2)}.social__icon--instagram:hover{background-color:rgba(20,20,20,0.32)}.icon--github::before{content:""}.social__icon--github{background-color:rgba(51,51,51,0.2)}.social__icon--github:hover{background-color:rgba(20,20,20,0.32)}.social__item{display:inline-block;margin-right:0.1em}.icon,[class^="icon--"]{font-family:'FontAwesome';font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.social__icon,[class^="social__icon"]{font-size:20px;color:#333333;text-decoration:none;border-radius:100%;width:2.2em;height:2.2em;display:flex;align-items:center;justify-content:center}.social__container{padding-top:35px;padding-bottom:35px}#list-title{margin-top:85px;font-family:"Source Serif Pro";font-size:60px;color:black;text-align:center;font-weight:semi-bold}
