@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Zilla+Slab&display=swap');
html {
 background-color: black;
 font-family: "Josefin Slab", serif;

}
html, body {
height: 100%;
margin: 0;
padding: 0;
width: 100%;
}
body {
 display: table;
 color: white;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu li a:hover {
  background-color: #111;
}

.intro {
text-align: center;
display: table-cell;
vertical-align: middle;
}

.typewriter h1 {
  font-family: "Zilla Slab", serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

p {
font-size: 22px;
}

p #sub {
 color: #cc3d52;
}

.media li.socials {
  list-style: none;
  margin: 5px 15px;
  display: inline-block;
  font-size: 20px;
  padding: 10px 10px;
  color: #4b6287;
}
